<launch>

  <node name="training_controller" pkg="panda_ros" type="tunnel_rehab.py"
        output="screen"/>

  <node name="$(anon sample_buttons)"
        pkg="jsk_rqt_plugins" type="rqt_service_buttons" output="screen" clear_params="true">
    <param name="~layout_yaml_file" value="package://panda_ros/resources/training_controller_layout.yaml" />
  </node>
  
</launch>
